<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Katalog biblioteki</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'biblioteka/index.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'biblioteka:index' %}">Strona główna</a></li>
                    <li><a href="{% url 'biblioteka:ksiazka' %}">Książki</a></li>
                    <li><a href="{% url 'biblioteka:autor' %}">Autorzy</a></li>
                    <li><a href="{% url 'biblioteka:wydawnictwo' %}">Wydawnictwa</a></li>
                    <li><a href="{% url 'biblioteka:gatunek' %}">Gatunki</a></li>
                    <li><a href="{% url 'biblioteka:jezyk' %}">Jezyki</a></li>
                    <li><a href="{% url 'biblioteka:login' %}">Zaloguj się</a></li>
                    <li><a href="{% url 'biblioteka:logout' %}">Wyloguj się</a></li>
                    <li><a href="{% url 'biblioteka:register' %}">Rejestracja</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="ksiazki">
                <div class="sekcja">
                    <ul>                     
                    <h1>Egzemplarze</h1>
                    Gatunki:
                    {% for g in gatunek_lista %}
                        {{ g.nazwa_gatunku }}
                    {% endfor %}
                    <br>Autorzy:
                    {% for a in autor_lista %}
                        {{ a.imie }} {{ a.nazwisko }}<br>
                    {% endfor %}
                    
                    {% if egzemplarz_lista %}
                        {% for egzemplarz in egzemplarz_lista %}
                            {% if egzemplarz.ksiazka == ksiazka %}
                                <br> <li><a href="{% url 'biblioteka:egzDetail' egzemplarz.id %}">{{ ksiazka.tytul }}, {{egzemplarz.wydawnictwo.nazwa_wydawnictwa}}</a></li> 
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if request.user.is_authenticated %}
                        <p><a href="{% url 'biblioteka:formEgzemplarz' %}">Dodaj egzemplarz</a></p>
                        {% endif %}
                        <h1>Brak egzemplarzy</h1>
                    {% endif %} 
                    </ul>               
                </div>
            </section>
        </main>
        <footer>
            Aplikacje bazodanowe - projekt
        </footer>
    </body>
</html>