<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Katalog biblioteki</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'biblioteka/index.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'biblioteka:index' %}">Strona główna</a></li>
                    <li><a href="{% url 'biblioteka:ksiazka' %}">Książki</a></li>
                    <li><a href="{% url 'biblioteka:autor' %}">Autorzy</a></li>
                    <li><a href="{% url 'biblioteka:wydawnictwo' %}">Wydawnictwa</a></li>
                    <li><a href="{% url 'biblioteka:gatunek' %}">Gatunki</a></li>
                    <li><a href="{% url 'biblioteka:jezyk' %}">Jezyki</a></li>
                    <li><a href="{% url 'biblioteka:login' %}">Zaloguj się</a></li>
                    <li><a href="{% url 'biblioteka:logout' %}">Wyloguj się</a></li>
                    <li><a href="{% url 'biblioteka:register' %}">Rejestracja</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="formularz">
                <div class="sekcja">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Dodaj</button>
                        </form>   
                </div>
            </section>
        </main>
        <footer>
            Aplikacje bazodanowe - projekt
        </footer>
    </body>
</html>